In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
%matplotlib inline

In [2]:
df_homes = pd.read_csv("Resources/Metro_homes.csv")
df_homes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416926 entries, 0 to 416925
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   period_begin                    416926 non-null  object
 1   period_end                      416926 non-null  object
 2   parent_metro_region_metro_code  416926 non-null  int64
 3   parent_metro_region             416926 non-null  object
 4   state_code                      416926 non-null  object
 5   property_type_id                416926 non-null  int64
 6   property_type                   416926 non-null  object
 7   median_sale_price               416382 non-null  float64
 8   median_list_price               388970 non-null  float64
 9   median_ppsf                     412248 non-null  float64
 10  median_list_ppsf                386245 non-null  float64
 11  homes_sold                      416386 non-null  float64
 12  pending_sales                   376758 non-null  float64
 13  new_listings                    387946 non-null  float64
 14  inventory                       406255 non-null  float64
 15  months_of_supply                407992 non-null  float64
 16  median_dom                      412094 non-null  float64
 17  price_drops                     201583 non-null  float64
dtypes: float64(11), int64(2), object(5)
memory usage: 57.3+ MB

In [3]:
df_homes['period_end'] = pd.to_datetime(df_homes['period_end'])
df_homes['period_begin'] = pd.to_datetime(df_homes['period_begin'])

In [4]:
df_homes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416926 entries, 0 to 416925
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   period_begin                    416926 non-null  datetime64[ns]
 1   period_end                      416926 non-null  datetime64[ns]
 2   parent_metro_region_metro_code  416926 non-null  int64
 3   parent_metro_region             416926 non-null  object
 4   state_code                      416926 non-null  object
 5   property_type_id                416926 non-null  int64
 6   property_type                   416926 non-null  object
 7   median_sale_price               416382 non-null  float64
 8   median_list_price               388970 non-null  float64
 9   median_ppsf                     412248 non-null  float64
 10  median_list_ppsf                386245 non-null  float64
 11  homes_sold                      416386 non-null  float64
 12  pending_sales                   376758 non-null  float64
 13  new_listings                    387946 non-null  float64
 14  inventory                       406255 non-null  float64
 15  months_of_supply                407992 non-null  float64
 16  median_dom                      412094 non-null  float64
 17  price_drops                     201583 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(2), object(3)
memory usage: 57.3+ MB