In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from prophet import Prophet
import datetime as dt
%matplotlib inline

In [11]:
df_homes_raw = pd.read_csv("redfin_metro_market_tracker.tsv000", sep = "\t" , parse_dates=True, 
    infer_datetime_format=True)
df_homes_raw

C:\Users\Kothapallis\AppData\Local\Temp\ipykernel_51468\696365276.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df_homes_raw = pd.read_csv("redfin_metro_market_tracker.tsv000", sep = "\t" , parse_dates=True,

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2016-07-01,2016-07-31,30,metro,-2,15660,f,"Calhoun, GA metro area",NaN,NaN,...,1.000000,0.166667,-0.233333,-0.083333,NaN,NaN,NaN,"Calhoun, GA",15660,2024-01-14 14:20:58
1,2022-08-01,2022-08-31,30,metro,-2,33740,f,"Monroe, LA metro area",NaN,NaN,...,-0.083621,0.362179,0.094664,NaN,0.464000,-0.043353,0.352889,"Monroe, LA",33740,2024-01-14 14:20:58
2,2020-02-01,2020-02-29,30,metro,-2,39740,f,"Reading, PA metro area",NaN,NaN,...,-0.053846,0.115942,-0.126482,-0.064386,0.833333,0.500000,0.287879,"Reading, PA",39740,2024-01-14 14:20:58
3,2018-07-01,2018-07-31,30,metro,-2,37460,f,"Panama City, FL metro area",NaN,NaN,...,-0.080000,NaN,NaN,NaN,0.050000,-0.092857,0.050000,"Panama City, FL",37460,2024-01-14 14:20:58
4,2020-09-01,2020-09-30,30,metro,-2,15420,f,"Burley, ID metro area",NaN,NaN,...,0.159615,NaN,NaN,NaN,0.173913,0.140580,0.173913,"Burley, ID",15420,2024-01-14 14:20:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416921,2020-11-01,2020-11-30,30,metro,-2,27060,f,"Ithaca, NY metro area",NaN,NaN,...,0.097959,NaN,NaN,NaN,0.000000,0.000000,0.000000,"Ithaca, NY",27060,2024-01-14 14:20:58
416922,2018-10-01,2018-10-31,30,metro,-2,28140,f,"Kansas City, MO metro area",NaN,NaN,...,NaN,0.130081,-0.015080,-0.034476,0.462963,-0.009259,0.034392,"Kansas City, MO",28140,2024-01-14 14:20:58
416923,2018-05-01,2018-05-31,30,metro,-2,20100,f,"Dover, DE metro area",NaN,NaN,...,0.159420,0.269663,-0.037004,-0.003064,0.210526,-0.289474,-0.110902,"Dover, DE",20100,2024-01-14 14:20:58
416924,2017-10-01,2017-10-31,30,metro,-2,23844,f,"Gary, IN metro area",NaN,NaN,...,0.018858,NaN,NaN,NaN,0.063830,0.027466,0.038189,"Gary, IN",23844,2024-01-14 14:20:58
416925,2023-10-01,2023-10-31,30,metro,-2,36380,f,"Okeechobee, FL metro area",NaN,NaN,...,-0.067158,0.224138,0.019592,0.007355,0.380952,-0.092732,0.269841,"Okeechobee, FL",36380,2024-01-14 14:20:58

In [12]:
df_homes_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416926 entries, 0 to 416925
Data columns (total 58 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   period_begin                    416926 non-null  object
 1   period_end                      416926 non-null  object
 2   period_duration                 416926 non-null  int64
 3   region_type                     416926 non-null  object
 4   region_type_id                  416926 non-null  int64
 5   table_id                        416926 non-null  int64
 6   is_seasonally_adjusted          416926 non-null  object
 7   region                          416926 non-null  object
 8   city                            0 non-null       float64
 9   state                           0 non-null       float64
 10  state_code                      416926 non-null  object
 11  property_type                   416926 non-null  object
 12  property_type_id                416926 non-null  int64
 13  median_sale_price               416382 non-null  float64
 14  median_sale_price_mom           382484 non-null  float64
 15  median_sale_price_yoy           370771 non-null  float64
 16  median_list_price               388970 non-null  float64
 17  median_list_price_mom           362999 non-null  float64
 18  median_list_price_yoy           351360 non-null  float64
 19  median_ppsf                     412248 non-null  float64
 20  median_ppsf_mom                 378431 non-null  float64
 21  median_ppsf_yoy                 366766 non-null  float64
 22  median_list_ppsf                386245 non-null  float64
 23  median_list_ppsf_mom            360319 non-null  float64
 24  median_list_ppsf_yoy            348779 non-null  float64
 25  homes_sold                      416386 non-null  float64
 26  homes_sold_mom                  382486 non-null  float64
 27  homes_sold_yoy                  370774 non-null  float64
 28  pending_sales                   376758 non-null  float64
 29  pending_sales_mom               345528 non-null  float64
 30  pending_sales_yoy               333086 non-null  float64
 31  new_listings                    387946 non-null  float64
 32  new_listings_mom                361951 non-null  float64
 33  new_listings_yoy                350156 non-null  float64
 34  inventory                       406255 non-null  float64
 35  inventory_mom                   377321 non-null  float64
 36  inventory_yoy                   364439 non-null  float64
 37  months_of_supply                407992 non-null  float64
 38  months_of_supply_mom            379094 non-null  float64
 39  months_of_supply_yoy            366534 non-null  float64
 40  median_dom                      412094 non-null  float64
 41  median_dom_mom                  378421 non-null  float64
 42  median_dom_yoy                  366422 non-null  float64
 43  avg_sale_to_list                394464 non-null  float64
 44  avg_sale_to_list_mom            360831 non-null  float64
 45  avg_sale_to_list_yoy            350681 non-null  float64
 46  sold_above_list                 416206 non-null  float64
 47  sold_above_list_mom             382293 non-null  float64
 48  sold_above_list_yoy             370531 non-null  float64
 49  price_drops                     201583 non-null  float64
 50  price_drops_mom                 186661 non-null  float64
 51  price_drops_yoy                 160670 non-null  float64
 52  off_market_in_two_weeks         378671 non-null  float64
 53  off_market_in_two_weeks_mom     347418 non-null  float64
 54  off_market_in_two_weeks_yoy     334878 non-null  float64
 55  parent_metro_region             416926 non-null  object
 56  parent_metro_region_metro_code  416926 non-null  int64
 57  last_updated                    416926 non-null  object
dtypes: float64(44), int64(5), object(9)
memory usage: 184.5+ MB

In [6]:
df_homes_raw.columns

Index(['period_begin', 'period_end', 'period_duration', 'region_type',
       'region_type_id', 'table_id', 'is_seasonally_adjusted', 'region',
       'city', 'state', 'state_code', 'property_type', 'property_type_id',
       'median_sale_price', 'median_sale_price_mom', 'median_sale_price_yoy',
       'median_list_price', 'median_list_price_mom', 'median_list_price_yoy',
       'median_ppsf', 'median_ppsf_mom', 'median_ppsf_yoy', 'median_list_ppsf',
       'median_list_ppsf_mom', 'median_list_ppsf_yoy', 'homes_sold',
       'homes_sold_mom', 'homes_sold_yoy', 'pending_sales',
       'pending_sales_mom', 'pending_sales_yoy', 'new_listings',
       'new_listings_mom', 'new_listings_yoy', 'inventory', 'inventory_mom',
       'inventory_yoy', 'months_of_supply', 'months_of_supply_mom',
       'months_of_supply_yoy', 'median_dom', 'median_dom_mom',
       'median_dom_yoy', 'avg_sale_to_list', 'avg_sale_to_list_mom',
       'avg_sale_to_list_yoy', 'sold_above_list', 'sold_above_list_mom',
       'sold_above_list_yoy', 'price_drops', 'price_drops_mom',
       'price_drops_yoy', 'off_market_in_two_weeks',
       'off_market_in_two_weeks_mom', 'off_market_in_two_weeks_yoy',
       'parent_metro_region', 'parent_metro_region_metro_code',
       'last_updated'],
      dtype='object')

In [13]:
df_homes = df_homes_raw[['period_begin', 'period_end', 'parent_metro_region_metro_code',
       'parent_metro_region', 'state_code','property_type_id', 'property_type', 
       'median_sale_price', 'median_list_price', 
       'median_ppsf',  'median_list_ppsf',
        'homes_sold', 'pending_sales', 'new_listings',
        'inventory',  'months_of_supply', 'median_dom',  'price_drops'       ]]
df_homes

,period_begin,period_end,parent_metro_region_metro_code,parent_metro_region,state_code,property_type_id,property_type,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,months_of_supply,median_dom,price_drops
0,2016-07-01,2016-07-31,15660,"Calhoun, GA",GA,13,Townhouse,166900.0,122900.0,95.535203,79.339451,2.0,NaN,2.0,6.0,3.0,133.0,0.166667
1,2022-08-01,2022-08-31,33740,"Monroe, LA",LA,6,Single Family Residential,210000.0,215000.0,117.937595,113.065034,156.0,125.0,148.0,312.0,2.0,20.0,0.362179
2,2020-02-01,2020-02-29,39740,"Reading, PA",PA,4,Multi-Family (2-4 Unit),103250.0,129900.0,49.502539,56.662269,10.0,12.0,27.0,69.0,6.9,63.0,0.115942
3,2018-07-01,2018-07-31,37460,"Panama City, FL",FL,13,Townhouse,174700.0,196500.0,124.080882,137.240526,25.0,20.0,53.0,156.0,6.2,94.0,NaN
4,2020-09-01,2020-09-30,15420,"Burley, ID",ID,6,Single Family Residential,207250.0,207500.0,122.710623,129.365592,40.0,23.0,32.0,103.0,2.6,84.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416921,2020-11-01,2020-11-30,27060,"Ithaca, NY",NY,-1,All Residential,225450.0,274500.0,135.363445,147.961414,70.0,22.0,46.0,264.0,3.8,109.0,NaN
416922,2018-10-01,2018-10-31,28140,"Kansas City, MO",MO,4,Multi-Family (2-4 Unit),170000.0,160000.0,52.623458,68.717277,51.0,NaN,72.0,NaN,2.4,34.0,0.130081
416923,2018-05-01,2018-05-31,20100,"Dover, DE",DE,13,Townhouse,177750.0,180000.0,103.021978,97.267980,24.0,19.0,42.0,89.0,3.7,39.0,0.269663
416924,2017-10-01,2017-10-31,23844,"Gary, IN",IN,13,Townhouse,161389.0,168260.0,110.892857,109.829060,77.0,47.0,99.0,353.0,4.6,73.0,NaN
416925,2023-10-01,2023-10-31,36380,"Okeechobee, FL",FL,6,Single Family Residential,259000.0,249000.0,177.969277,193.953880,37.0,42.0,59.0,174.0,4.7,56.0,0.224138

In [8]:
df_homes.columns

Index(['period_begin', 'period_end', 'parent_metro_region_metro_code',
       'parent_metro_region', 'state_code', 'property_type_id',
       'property_type', 'median_sale_price', 'median_list_price',
       'median_ppsf', 'median_list_ppsf', 'homes_sold', 'pending_sales',
       'new_listings', 'inventory', 'months_of_supply', 'median_dom',
       'price_drops'],
      dtype='object')

In [14]:
df_homes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416926 entries, 0 to 416925
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   period_begin                    416926 non-null  object
 1   period_end                      416926 non-null  object
 2   parent_metro_region_metro_code  416926 non-null  int64
 3   parent_metro_region             416926 non-null  object
 4   state_code                      416926 non-null  object
 5   property_type_id                416926 non-null  int64
 6   property_type                   416926 non-null  object
 7   median_sale_price               416382 non-null  float64
 8   median_list_price               388970 non-null  float64
 9   median_ppsf                     412248 non-null  float64
 10  median_list_ppsf                386245 non-null  float64
 11  homes_sold                      416386 non-null  float64
 12  pending_sales                   376758 non-null  float64
 13  new_listings                    387946 non-null  float64
 14  inventory                       406255 non-null  float64
 15  months_of_supply                407992 non-null  float64
 16  median_dom                      412094 non-null  float64
 17  price_drops                     201583 non-null  float64
dtypes: float64(11), int64(2), object(5)
memory usage: 57.3+ MB

In [17]:
df_homes['period_begin'] = pd.to_datetime(df_homes['period_begin'])

C:\Users\Kothapallis\AppData\Local\Temp\ipykernel_51468\2362142686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homes['period_begin'] = pd.to_datetime(df_homes['period_begin'])

In [20]:
df_homes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416926 entries, 0 to 416925
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   period_begin                    416926 non-null  datetime64[ns]
 1   period_end                      416926 non-null  datetime64[ns]
 2   parent_metro_region_metro_code  416926 non-null  int64
 3   parent_metro_region             416926 non-null  object
 4   state_code                      416926 non-null  object
 5   property_type_id                416926 non-null  int64
 6   property_type                   416926 non-null  object
 7   median_sale_price               416382 non-null  float64
 8   median_list_price               388970 non-null  float64
 9   median_ppsf                     412248 non-null  float64
 10  median_list_ppsf                386245 non-null  float64
 11  homes_sold                      416386 non-null  float64
 12  pending_sales                   376758 non-null  float64
 13  new_listings                    387946 non-null  float64
 14  inventory                       406255 non-null  float64
 15  months_of_supply                407992 non-null  float64
 16  median_dom                      412094 non-null  float64
 17  price_drops                     201583 non-null  float64
dtypes: datetime64[ns](2), float64(11), int64(2), object(3)
memory usage: 57.3+ MB

In [19]:
df_homes['period_end'] = pd.to_datetime(df_homes['period_end'])

C:\Users\Kothapallis\AppData\Local\Temp\ipykernel_51468\406051917.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homes['period_end'] = pd.to_datetime(df_homes['period_end'])

In [21]:
df_homes.to_csv('Resources/Metro_homes.csv', index = False, header=True)